.heading{
width:100%;
}
.h{
  color:black;
}
canvas{
    border:5px solid white;
    border-radius:20px;
    box-shadow:5px 5px 5px grey;
}
body{
  background-size: cover;
}
.divgif{
  width:200px;
  border-radius:100px;
}
.div_volume{
  float:left;
}
.div_speed{
  float:right;
}
.play{
  font-size: 23px;
  width:100px;
}
canvas{
  border-radius: 75px;
  border-color: darkblue;
  border:10px;
